<h3>Loged in as: <%= current_user.username %></h3>
<p>--------------------------------</p>
<h1> comments </h1>
<p>=====================</p>

<% @num = 0 %>
<% @comments.each do |comment| %>
  <div>
    <% if comment.content == nil %>
      <% comment.delete %>
    <% end %>
    <p></p>
    <h4> From: <%= comment.user.username %> </h4>
    <%= comment.content %>
    <% if comment && comment.user == current_user %>
      <form method="post" action="/comments/<%=comment.id%>/delete">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete your comment">
      </form>
      <p>---------------</p>
    <% end %>
  </div>
  <% @num = @num + 1  %>
<% end %>
<p>There are <%= @num %> comment(s)</p>

<p>=====================</p>
<a href="/comments/new">
  <button>Leave a comment</button>
</a>